p{
    font-family: Verdana;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    text-indent: 32px;
    text-decoration: underline;
    /* text-decoration: line-through; */
    letter-spacing: 1px; 




}   