/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family:'Noto Sans TC', sans-serif;
    font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::after,*::before{
	box-sizing: border-box;
}


.wrap{
	margin: 0 auto;
	max-width: 1000px;
	/* border: 1px solid black; */
}

.topbar{
	/* border: 1px solid black; */
	display: flex;
	background: #f1f1f1;
	justify-content: flex-end;

}

.topbar li{
	float: left;
	margin-top: 6px;
	margin-bottom: 6px;
	padding-right: 10px;
}

.topbar a{
	text-decoration: none;
	font-weight: bold;
}

.topbar a:hover{
	color: #00cb9b;
}

.topbar a img{
	vertical-align: top;
	margin-right: 2px;
}

.facebook{
	color: #4460a4;
	margin-right: 8px;
}

.twitter{
	color: #00b4ed
}

.menu h1{
	float: left;
}

.menu{
	margin-bottom: 50px;
}

.menu h1 a{
	display: block;
	background-image: url(../img/logo.png);
	width: 224px;
	height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-indent: 101%;
}

.menu li{
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

.menu li a{
	display: inline-block;
	text-decoration: none;
	position: relative;
	color: #00cb9b;
	white-space: nowrap;
	padding: 20px 13px;
	font-weight: bold;
}
.menu ul{
	float: right;
	margin-right: 20px;
	max-height: 50px;
}

.banner{
	position: relative;
	margin-bottom: 50px;
	min-width: 100%;
	height: 346px;
	background-image: url(../img/banner.png);
	background-size: cover;
}

.banner h2{
	color: white;
	display: flex;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	align-items: center;
	/* border: 1px solid black; */
	font-size: 35px;
	line-height: 1.4;
	padding:0 25px;
	background-color: rgba(0, 0, 0, 0.1);
}

.course-list{
	display: flex;
	justify-content: space-around;
	/* border: 1px solid red; */
	align-items: flex-start;
	list-style: none;
	margin-bottom: 64px;
}

.imgbox{
	height: 139px;
	padding-top: 20px;
	margin-bottom: 20px;
}

.course-item{
	font-size: 25px;
	text-align: center;
	/* border: 1px solid black; */
	width: 30%;
	min-height: 320px;
	box-shadow: 0 1px 2px gray;

}

.course-item img{
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.course-item h3{
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	border: 1px solid blue;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 1.5;
	padding-bottom: 15px;
	/* padding-top: 15px; */

}

.course-item p{
	margin-left: 15px;
	margin-right: 15px;
	text-align: justify;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	padding-bottom: 15px;


}

.course-item ul{
	list-style: inside;
}
