/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family:'Noto Sans TC', sans-serif;
    font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::after,*::before{
	box-sizing: border-box;
}


.wrap{
	margin: 0 auto;
	max-width: 1000px;
	/* border: 1px solid black; */
}

.topbar{
	/* border: 1px solid black; */
	display: flex;
	background: #f6f6f6;
	justify-content: flex-end;

}

.topbar li{
	float: left;
	margin-top: 6px;
	margin-bottom: 6px;
	padding-right: 12px;
}

.topbar a{
	text-decoration: none;
	font-weight: bold;
}

.topbar a img{
	vertical-align: top;
	margin-right: 3px;
}

.facebook{
	color: #4460a4;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 4px;
}

.twitter{
	color: #00b4ed
}

.menu h1{
	float: left;
}

.menu{
	margin-bottom: 50px;
}

.menu h1 a{
	display: block;
	background-image: url(../img/logo.png);
	width: 224px;
	height: 51px;
	white-space: nowrap;
	overflow: hidden;
	text-indent: 101%;
}

.menu li{
	float: left;
	/* margin-right: 20px; */
	margin-left: 20px;
}

.menu li a{
	display: inline-block;
	text-decoration: none;
	position: relative;
	color: #00cc99;
	white-space: nowrap;
	/* padding: 20px 13px; */
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 16px;
	font-weight: bold;
}
.menu ul{
	float: right;
	/* margin-right: 20px; */
	max-height: 50px;
}

.banner{
	position: relative;
	margin-bottom: 60px;
	min-width: 100%;
	height: 346px;
	background-image: url(../img/banner.png);
	background-size: cover;
}

.banner h2{
	color: white;
	display: flex;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	align-items: center;
	/* border: 1px solid black; */
	font-size: 35px;
	line-height: 1.4;
	padding:0 22px;
	background-color: rgba(0, 0, 0, 0.1);
}
/* -------------------------------- */
.course-list{
	display: flex;
	justify-content: space-around;
	/* border: 1px solid red; */
	align-items: flex-start;
	list-style: none;
	margin-bottom: 64px;
	/* flex-wrap: wrap; */
	align-items: stretch;

	/* height: 320px; */
}

.imgbox{
	height: 139px;
	padding-top: 28px;
	margin-bottom: 28px;
}

.course-item{
	font-size: 25px;
	text-align: center;
	/* border: 1px solid indigo; */
	width: 30%;
	/* height: 100%; */
	box-shadow: 0 1px 2px gray;



}

.course-item img{
	display: block;
	/* max-width: 100%; */
	height: auto;
	margin: 0 auto;
}

.course-item h3{
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	/* border: 1px solid blue; */
	margin-left: 15px;
	margin-right: 15px;
	line-height: 1.5;
	padding-bottom: 10px;
	/* padding-top: 15px; */

}

.course-item p{
	margin-left: 19px;
	margin-right: 22px;
	text-align: justify;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 7px;
	line-height: 1.5;
	/* padding-bottom: 1px; */
	height: auto;
	/* border: 1px solid fuchsia; */

}

.course-item ul li{
	list-style: inside;
	margin-left: 15px;
	margin-right: 15px;
	text-align: justify;
	font-size: 15px;
	/* height: 100%; */
	font-weight: 400;
	line-height: 1.5;
	/* padding-bottom: 15px; */
	/* border: 1px solid green; */
}
.course-item ul{
	/* border: 1px solid sienna; */
	height: max-content;
	/* margin-top: 5px; */
	margin-left: 19px;
	margin-bottom: 24px;
}
/* ------------------------- */
.table h2{
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 28px;
}

.table table{
	/* border: 1px solid red; */
	width: 85%;
	margin: 0 auto;
	/* font-weight: 500; */
	margin-bottom: 60px;
}

.table th,.table td{
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	text-align-last: left;
	/* text-align: center; */
	width: 25%;
	/* font-weight: bold; */
	padding: 12px 12px 12px 22px ;
}

.table th{
	/* font-weight: 500; */
	background: #f7f7f7;
	font-weight: bold;
}

.table td{
	/* font-weight: 300; */
	font-weight: 500;
}

.mark{
	color: #22b28e;
	font-weight: 500;
}

.contact{
	color: white;
	padding: 40px 20px 30px;
	margin-bottom: 28px;
	background: linear-gradient(#00644b, #009771);
}

.contact h2{
	text-align: center;
	font-size: 26px;
	/* font-weight: 500; */
	margin-bottom: 32px;
	line-height: 1.6;
	font-weight: 600;
}

.contact form{
	display: flex;
	align-items: center;
	justify-content: stretch;
}

.contact textarea{
	margin-right: 40px;
	width: 50%;
	/* outline: none; */
	border-radius: 5px;
	line-height: 1.2;
	padding: 7px 5px;
	/* border: 1px solid violet; */
}

.inputbox{
	width: 100%;
	/* margin-left: 20px; */
	margin-bottom: 16px;
	/* border: 1px solid red; */
}

.inputbox label{
	display: block;
	font-weight: 500;
	margin-bottom: 6px;
	margin-top: 16px;
}

.inputbox input{
	width: 100%;
	padding: 8px 20px;
	font-size: 16px;
	border-radius: 5px;
	/* outline: none; */
}

.btn{
	background: #00cc99;
	padding: 8px 20px;
	border-radius: 5px;
	/* display: block; */
	margin-left: auto;
	cursor: pointer;
	color: white;
	margin-top: 20px;
	/* width: 80px; */
	/* border: 1px solid yellow; */
	/* align-items: center; */
	/* border: 1px solid sandybrown; */
}

.infobox{
	width: 50%;
	padding: 7px 5px;
	font-style: 16px;
	border-radius: 5px;
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: column;
}

.footer{
	/* background: #4460a4; */
	margin-bottom: 4px;
	justify-content:space-between;
	align-items: flex-start;
	display: flex;
	padding: 0 22px 50px;
	/* flex-direction: column; */
}

.info li{
	margin-bottom: 10px;
	font-weight: 500;
}
.red{
	color: #e54991;
	text-decoration: none;
}


.menu li a:hover{
	cursor: pointer;
	color: #4460a4;
}

.topbar a:hover{
	color: #00cb9b;
	cursor:pointer
}

.btn,.red:hover{
	cursor: pointer;
}